<div class="mat-elevation-z8 w-full">
    <div class="flex justify-end p-8"><button routerLink="/create-product" mat-raised-button color="primary">Cadastrar produto</button></div>
   
    <table mat-table [dataSource]="productList" >

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Preço</th>
            <td mat-cell *matCellDef="let element">{{ element.price.toFixed(2) }}</td>
        </ng-container>
    
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantidade </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"> 
            <button mat-raised-button color="primary" (click)="edit(element.id)">Editar</button> 
            <button mat-raised-button color="warn" (click)="delete(element.id)">Excluir</button> 
        </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

  
  
